<!DOCTYPE html>
<html>
	<head>
		<title>Api Documentation</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<header>galadhrim.api</header>
		<div>
			<h2>Data management</h2>
			<ul style="list-style-type:none">
				<li><a href="api.html">College</a></li>
				<li><a href="degree.html">Degree Program</a></li>
				<li><a href="cur.html">Curriculum</a></li>
				<li><a href="student.html">Student</a></li>
			</ul>	
		</div>
		<div>
			<h2>Curriculum</h2>
			<p>
				qweqwewqeqwewqweqweqwe
				qweqweqweqweqqweqweweqwe
				qweqweqweqweqweqweqwe
			</p>
		</div>
		<div>
			<h2>REST API</h2>
			<h3>Create College</h3>
			<p>
				POST<br>
				/api/colleges<br>
				@param code<br>
				@param name<br>
			</p>	
			<h3>Example Request</h3>
			<p>
				curl<br>
				http://ws.c/api.colleges
			</p>
			<h3>Example Response</h3>
			<p>
				{<br>
					"_id" 1 <br>
					"code" "CA" <br>
				}
			</p>				
		</div>
	</body>
</html>	