<!DOCTYPE html>
<html>
	<head>
		<title>Javascript Test</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<input type="button" onclick = "guessNumber()" value = "Enter Number"/>
		<script>
			function guessNumber() {
				var x = Math.floor((Math.random()*100)+1);
				var stop = 1;
				while(stop == 1){
					var input = prompt("Enter a number");
					try{
						if (input == " ") throw "Empty";
						if (isNaN(input)) throw "not a number";
						input = Number(input);

						if(input < x) throw "too low";
						if(input > x) throw "too high";
						if(input == x) {
							stop = 0;
							throw "Correct";
						}	
					}
					catch(err){
						alert("Input is " + err);
					}
				}	
			}
		</script>
	</body>
</html>